@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
	font-family: "Funnel Sans";
}
#root {
	min-height: 100vh;
}
form {
	width: 20%;
}
@media (max-width: 1280px) {
	form {
		width: 30% !important;
	}
}
@media (max-width: 992px) {
	form {
		width: 40% !important;
	}
}
@media (max-width: 768px) {
	form {
		width: 60% !important;
	}
}@media (max-width: 640px) {
	form {
		width: 90% !important;
	}
}
